.detailCard{
  display:flex;
  justify-content: space-around;
  height: 600px;
}
.removeAdd{
  display: flex;
  justify-content: space-evenly;
  text-align:start
}
.bloc2{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
